* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial;
}


/*БЛОКИ И КОНТЕЙНЕРЫ*/

/* фон-текст */
.cnt-w-sg {
    background-color: white;
    color: #508c46;
}

.cnt-w-dg {
    background-color: white;
    color: #2f5d28;
}

.hov1:hover { /*.cnt-w-dg*/
    background-color: #7bb972;
    color: white;
}

.cnt-dg-w {
    background-color: #2f5d28;
    color: white;
}

.hov2:hover { /*..cnt-dg-w*/
    background-color: white;
    color: #2f5d28;
}

.cnt-lg-dg {
    background-color: #afd5ab;
    color: #2f5d28;
}

.hov3:hover { /*.cnt-lg-dg*/
    background-color: #2f5d28;
    color: white;
}

.cnt-w-gg {
    background-color: white;
    color: #91c58a;
}

.cnt-gg-w {
    background-color: #91c58a;
    color: white;
}


/* перенос текста */
.text-wrap {
    word-wrap: break-word;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* толщина-размер шрифта */
.font-b14 {
    font-weight: bold;
    font-size: 14px;
}

.font-b18 {
    font-weight: bold;
    font-size: 18px;
}

.font-b20 {
    font-weight: bold;
    font-size: 20px;
}

.font-b22 {
    font-weight: bold;
    font-size: 22px;
}

.font-b26 {
    font-weight: bold;
    font-size: 26px;
}

.font-s14 {
    font-size: 14px;
}

.font-s16 {
    font-size: 16px;
}

.font-s18 {
    font-size: 18px;
}

/* рамки */
.border-n {
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

.border-lg {
    border: 2px solid #afd5ab;
    border-radius: 5px;
    overflow: hidden;
}

.border-dg {
    border: 2px solid #2f5d28;
    border-radius: 5px;
    overflow: hidden;
}


/* дисплеи */
.flex-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.inflex-col {
    display: inline-flex;
    flex-direction: column;
}

.flex-row-fe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-row-c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col-fe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ai-c {
    align-items: center;
}

.grid-cnt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    justify-content: center;
    padding: 0 50px 0 50px;
}


/* отступы */
.p-15 {
    padding: 15px;
}

.p-6 {
    padding: 6px;
}

.p-t5 {
    padding-top: 5px;
}

.p-t10 {
    padding-top: 10px;
}

.p-t15 {
    padding-top: 15px;
}

.p-t20 {
    padding-top: 20px;
}

.p-b5 {
    padding-bottom: 5px;
}

.p-b10 {
    padding-bottom: 10px;
}

.p-r8 {
    padding-right: 8px;
}

.p-r10 {
    padding-right: 10px;
}

.p-r12 {
    padding-right: 12px;
}

.p-r20 {
    padding-right: 20px;
}

.p-l8 {
    padding-left: 8px;
}

.p-l10 {
    padding-left: 10px;
}

.p-l12 {
    padding-left: 12px;
}

.p-l20 {
    padding-left: 20px;
}

.p-l25 {
    padding-left: 25px;
}

.m-t5 {
    margin-top: 5px;
}

.m-t10 {
    margin-top: 10px;
}

.m-t15 {
    margin-top: 15px;
}

.m-t20 {
    margin-top: 20px;
}

.m-t30 {
    margin-top: 30px;
}

.m-t40 {
    margin-top: 40px;
}

.m-t50 {
    margin-top: 50px;
}

.m-b4 {
    margin-bottom: 4px;
}

.m-b10 {
    margin-bottom: 10px;
}

.m-b15 {
    margin-bottom: 15px;
}

.m-b20 {
    margin-bottom: 20px;
}

.m-l5 {
    margin-left: 5px;
}

.m-l15 {
    margin-left: 15px;
}

.m-l20 {
    margin-left: 20px;
}

.m-l80pc {
    margin-left: 80%;
}


/* размеры */
.h-1 {
    height: 1px;
}

.h-20 {
    height: 20px;
}

.h-25 {
    height: 25px;
}

.h-29 {
    height: 29px;
}

.h-40 {
    height: 40px;
}

.h-100 {
    height: 100px;
}

.w-250 {
    width: 250px;
}

.w-600 {
    width: 600px;
}

.w-1200 {
    width: 1200px;
}

.w-10pc {
    width: 10%;
}

.w-20pc {
    width: 20%;
}

.w-30pc {
    width: 30%;
}

.w-35pc {
    width: 35%;
}

.w-50pc {
    width: 50%;
}

.w-60pc {
    width: 60%;
}

.w-70pc {
    width: 70%;
}

.w-100pc {
    width: 100%;
}


/* специфические классы */
.true {
    position: relative;
}

.true:hover .false {
    visibility: visible;
}

.false {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

.main_page_button {
    position: fixed;
    bottom: 20px;
    right: 200px;
    background-color: #afd5ab;
    color: #2f5d28;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.main_page_button:hover {
    background-color: #2f5d28;
    color: white;
}

.textarea {
    overflow: auto; /* Добавляем скролл, если текст выходит за пределы */
    white-space: pre-wrap; /* Перенос строки и пробелы сохраняются */
}

.cursor-p {
    cursor: pointer;
}

.top {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}

.bottom {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
}