<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<!--<link rel="stylesheet" href="/css/cart_page.css">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Cart</title>-->
<!--</head>-->
<th:block th:replace="fragments/header.html::header('Cart Page', '/css/cart_page.css')"></th:block>
<body>
<div th:if="${isCartEmpty == false}">
    <div class="container" th:each="cart:${carts}">
        <div class="info_block">
            <div class="product_name" th:text="${cart.getProduct().name}"></div>
            <div class="product_price" th:text="${cart.getAmount() * cart.getProduct().getPrice()} + ' тг.'"></div>
        </div>
        <div class="buttons_block">
            <form method="get" action="/products/cart/delete">
                <input type="hidden" name="cartId" th:value="${cart.id}">
                <button class="delete_button">Delete</button>
            </form>
            <div class="amount_button">
                <form method="get" action="/products/cart/decrement">
                    <input type="hidden" name="cartId" th:value="${cart.id}">
                    <button name="decrement" value="1">-</button>
                </form>
                <span th:text="${cart.getAmount()}"></span>
                <form method="get" action="/products/cart/increment">
                    <input type="hidden" name="cartId" th:value="${cart.id}">
                    <button name="increment" value="1">+</button>
                </form>
            </div>
        </div>
    </div>

    <div class="order_container">
        <div class="stripe"></div>
        <div class="total_price" th:text="${sum + ' тг.'}"></div>
        <form method="get" action="/products/place_order">
            <button class="order_button">Place the order</button>
        </form>
    </div>

</div>

<div th:if="${isCartEmpty == true}" class="empty_cart">Корзина пуста.</div>


<form method="get" action="/products/update_cart">
    <button class="main_page_button">Main page</button>
</form>

</body>
</html>