<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderating reviews</title>
</head>
<body>
<div th:each="review:${reviews}">
    <p>
        <label>Пользователь: </label></br>
        <input type="text" th:value="${review.getUser().getLogin()}" readonly>
    </p>
    <p>
        <label>Название товара: </label></br>
        <input type="text" th:value="${review.getProduct().getName()}" readonly>
    </p>
    <p>
        <span>Отзыв к товару: </span>
    <div th:text="${review.getCommentary()}"></div>
    </p>
    <div style="display: flex; flex-direction: row;">
        <form method="get" action="/products/moderate/review_add">
            <button type="submit" style="margin-right: 5px" name="reviewId" th:value="${review.getId()}">
                Добавить
            </button>
        </form>
        <form method="get" action="/products/moderate/review_delete">
            <button type="submit" style="margin-right: 5px" name="reviewId" th:value="${review.getId()}">
                Удалить
            </button>
        </form>
    </div>
    <div style="border:black 1px solid; margin-bottom: 5px; margin-top: 5px"></div>
</div>
<a href="/products">
    <button>Main page</button>
</a>
</body>
</html>