<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="fragments/header.html::header('Main Page', '/css/product_resource_1_page.css')"></th:block>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>ProductController.firstResource</title>-->
<!--    <link rel="stylesheet" type="text/css" href="/css/product_resource_1_page.css"/>-->
<!--</head>-->
<body>
<div th:replace="fragments/head_stripe.html::head_stripe"></div>
<!--<div class="head_stripe">-->
<!--    <div>-->
<!--        <a href="/category_choice">-->
<!--            <button class="head_button">Создать товар</button>-->
<!--        </a>-->
<!--        <a href="/products/cart">-->
<!--            <button class="head_button">Корзина</button>-->
<!--        </a>-->
<!--        <a href="/products/orders">-->
<!--            <button class="head_button">Заказы</button>-->
<!--        </a>-->
<!--        <a href="/products/moderate">-->
<!--            <button class="head_button">Модерация</button>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div th:if="${user_entered == false}">-->
<!--        <a href="/login">-->
<!--            <button class="head_button">Вход</button>-->
<!--        </a>-->
<!--        <a href="/user_register?user_exists=false">-->
<!--            <button class="head_button">Регистрация</button>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div th:if="${user_entered == true}">-->
<!--        <div class="true">-->
<!--            <button class="head_button" th:text="${'Hi, ' + user.getFirstName()}"></button>-->
<!--            <div class="false">-->
<!--                <button class="signed_button top" th:text="${'Hi, ' + user.getFirstName()}"></button>-->
<!--                <a href="/logout">-->
<!--                    <button class="signed_button bottom">Выход</button>-->
<!--                </a>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="products_container">
    <div th:each="product : ${products}" class="product_block">
        <div th:text="${product.getName()}" class="product_name"></div>
        <div class="buttons_container">
            <form method="get" action="/products/change">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    Edit
                </button>
            </form>
            <form method="get" action="/view_product">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    View
                </button>
            </form>
            <form method="get" action="/products/add_to_cart">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>