<!DOCTYPE html>
<html lang="en">
<th:block
        th:replace="fragments/header.html::header('Products by Category', '/css/product_resource_1_page.css')"></th:block>

<body>
<div th:replace="fragments/head_stripe.html::head_stripe"></div>

<div class="products_container">
    <div th:each="product : ${products}" class="product_block">
        <div th:text="${product.getName()}" class="product_name"></div>
        <div class="buttons_container">
            <form method="get" action="/products/change">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    Edit
                </button>
            </form>
            <form method="get" action="/view_product">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    View
                </button>
            </form>
            <form method="get" action="/products/add_to_cart">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
</div>

<div style="display: flex;">
    <form th:each="characteristic : ${characteristics}" method="get" action="/products/by_category">
        <select>
            <option th:text="${characteristic.getName()}" disabled selected></option>
            <option th:each="characteristicDescription : ${characteristicListMap.get(characteristic)}"
            th:text="${characteristicDescription.getDescription()}"></option>
        </select>
    </form>
</div>

</body>
</html>