<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="fragments/header.html::header('Main Page')"></th:block>

<body>
<div th:replace="fragments/head_stripe.html::head_stripe"></div>

<div class="grid-cnt">
    <div th:each="product : ${products}" class="flex-col-sb cnt-lg-dg border-n m-t15 w-250 p-t15 p-r10 p-b10 p-l10 h-100">
        <div th:text="${product.getName()}" class="font-b18 text-ellipsis"></div>
        <div class="flex-row-sb m-t5">
            <form method="get" action="/products/change">
                <button type="submit" name="productId" th:value="${product.getId()}"
                        class="h-20 cnt-w-dg border-n cursor-p p-r12 p-l12 hov1">
                    Edit
                </button>
            </form>
            <form method="get" action="/view_product">
                <button type="submit" name="productId" th:value="${product.getId()}"
                        class="h-20 cnt-w-dg border-n cursor-p p-r12 p-l12 hov1">
                    View
                </button>
            </form>
            <form method="get" action="/products/add_to_cart">
                <button type="submit" name="productId" th:value="${product.getId()}"
                        class="h-20 cnt-w-dg border-n cursor-p p-r12 p-l12 hov1">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
</div>

<!-- нумерация страниц -->
<div style="display: flex;">
    <form th:if="${pageNumber > 4}" method="get" action="/products">
        <button type="submit" name="prevPack" value="1"><<</button>
        <input type="hidden" name="pageNumber" th:value="${pageNumber - 1}">
    </form>

    <form th:if="${pageNumber > 1}" method="get" action="/products">
        <button type="submit" name="prevPage" value="1"><</button>
        <input type="hidden" name="pageNumber" th:value="${pageNumber - 1}">
    </form>

    <form th:if="${pageNumber > 4}" method="get" action="/products">
        <button type="submit" name="pageNumber" value="0">1</button>
    </form>

    <span th:if="${pageNumber > 4}">...</span>

    <form th:each="i : ${#numbers.sequence(startPage, lastPage)}" method="get" action="/products">
        <button th:if="${i != pageNumber}"
                type="submit" name="pageNumber" th:text="${i}" th:value="${i - 1}"></button>
        <button th:if="${i == pageNumber}" style="background-color: #2f5d28"
                type="submit" name="pageNumber" th:text="${i}" th:value="${i - 1}"></button>
    </form>

    <span th:if="${totalPages - startPage >= 4}">...</span>

    <form th:if="${totalPages - startPage >= 4}" method="get" action="/products">
        <button type="submit" name="pageNumber" th:value="${totalPages - 1}" th:text="${totalPages}"></button>
    </form>

    <form th:if="${isPageLast == false}" method="get" action="/products">
        <button type="submit" name="nextPage" value="1">></button>
        <input type="hidden" name="pageNumber" th:value="${pageNumber - 1}">
    </form>

    <form th:if="${lastPage != totalPages}" method="get" action="/products">
        <button type="submit" name="nextPack" value="1">>></button>
        <input type="hidden" name="pageNumber" th:value="${pageNumber - 1}">
    </form>
</div>

<!-- фильтрация по категориям -->
<div style="display: flex;">
    <form th:each="category : ${categories}" method="get" action="/products/by_category">
        <button type="submit" name="categoryId" th:value="${category.getId()}" th:text="${category.getName()}">

        </button>
    </form>
</div>
</body>
</html>