<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductController.firstResource</title>
</head>
<body>
<a href="/category_choice">
    <button style="cursor: pointer; margin-bottom: 5px">Создать товар</button>
</a>
<div th:each="product : ${products}" style="margin-bottom: 20px">
    <div style="margin-bottom: 5px" th:text="${product.getName()}"></div>
    <div style="display: flex; flex-direction: row">
        <form method="get" action="/products/change">
            <button type="submit" name="productId" th:value="${product.getId()}"
                    style="margin-right: 5px">Edit
            </button>
        </form>
        <form method="get" action="/view_product">
            <button type="submit" name="productId" th:value="${product.getId()}">View</button>
        </form>
    </div>
</div>
</body>
</html>