<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creation of a new product</title>
</head>
<body>
<form>
    <p><select name="category">
        <option disabled selected>Выберите категорию</option>
        <option value="Processors">Processors</option>
        <option value="Monitors">Monitors</option>
    </select>
    </p>
    <p>
        <label>Введите название товара: </label></br>
        <input type="text" name="product">
    </p>
    <p>
        <input type="submit" value="Отправить">
    </p>
</form>
</body>
</html>