<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="/css/user_orders.css"/>
<head>
    <meta charset="UTF-8">
    <title>Orders list</title>
</head>
<body>

<div th:each="order: ${orders}" class="order_container">
    <div class="title_block">
        <div class="name_date_block">
            <div th:text="${'Номер заказа: ' + order.getId()}"></div>
            <div th:text="${order.getOrderDate()}"></div>
        </div>
        <div th:text="${order.getStatus()}"></div>
    </div>

    <div th:each="product: ${order.getOrderProducts()}">
        <ul>
           <li>
               <div class="product_block">
                   <div th:text="${product.getProduct().getName()}"></div>
                   <div th:text="${product.getAmount()}"></div>
                   <div th:text="${product.getAmount() * product.getProduct().getPrice() + ' тг.'}"></div>
               </div>
           </li>
        </ul>
    </div>

    <div class="price_block" th:text="${orderCosts.get(order.getId()) + ' тг.'}"></div>


</div>

<form method="get" action="/products">
    <button class="main_page_button">Main page</button>
</form>
</body>
</html>